.container {
  max-height: 100vh;
  width: 100vw;
  background-color: #f9f9f9;
}

.list {
  padding: 0;
  list-style: none;
}

.list__item {
  height: 100px;
}

.list__item:nth-child(odd) {
  background-color: #d9d9d9;
}
